<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Dat104_Obl2_Gr16</display-name>
  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>KassererLoginServlet</servlet-name>
    <servlet-class>no.hvl.dat104.kontroller.KassererLoginServlet</servlet-class>
    <init-param>
      <param-name>KassererPassord</param-name>
      <param-value>12341234</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>KassererLoginServlet</servlet-name>
    <url-pattern>/kasserer</url-pattern>
  </servlet-mapping>
</web-app>